<section class='donorlist'>
  <h2 class="donorlist__title">{{ __('Thank You') }}</h2>
  {#<p class="donorlist__description">#}
    {#{{ __('Thank your for being the cornerstone of our work!') }}#}
  {#</p>#}
  <form class="donorlist__searchform">
    <label for="donorsearch" class="sr-only">{{ __('Search for Donors') }}</label>
    <input type="text"
           name="donorsearch"
           class="donorlist__searchform__input"
           placeholder="{{ __('Search...') }}" />
    <button class="donorsearch__searchform__submit" type="button">
      <i class="fas fa-search" title="{{ __('Submit Search') }}"></i>
    </button>
  </form>

  <div class='donorlist__individual'>
    <div class='donorlist__rangeselect'>
      SOME KIND OF WIDGET
    </div>

    <div class='donorlist__individual__cols__wrapper'>
      <ul>
        {% for _ in range(0, 500) %}
          <li>{{ faker('words', 3)|join(' ') }}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>