<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

    <script src="../../js/jquery-1.11.2.min.js"></script>
    <link rel="stylesheet" href="../../css/bootstrap.min.css?{{ cacheBuster }}" media="all" />

    <script src="../../js/libs/jasny-bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../css/libs/jasny-bootstrap.min.css" />

    <script src="../../js/libs/flickity.pkgd.min.js"></script>
    <link rel="stylesheet" href="../../css/libs/flickity.css?{{ cacheBuster }}" media="all" />

    <script src="../../js/checkVisibility.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script src="../../js/libs/wow.min.js"></script>

    <link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../css/fa-svg-with-js.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../css/libs/superfish.css?{{ cacheBuster }}" media="all" />

    <script src="../../js/fontawesome-all.min.js"></script>

    <script src="../../js/libs/superfish.min.js"></script>
    <script src="../../js/libs/ScrollTrigger.min.js"></script>

    <script src="../../js/expanding-search.js"></script>
    <script src="../../js/search-dropdown.js"></script>
    <script src="../../js/navbar__horizontal.js"></script>
    <script src="../../js/navbar__vertical.js"></script>
    <script src="../../js/scroll-effects.js"></script>
    <script src="../../js/donor-list.js"></script>
    <script src="../../js/scroll-effects.js"></script>

    <script src='../../js/libs/Chart.min.js'></script>
    <script src="../../js/20-organisms/70-piechart/piechart-expenses.js"></script>
    <script src="../../js/20-organisms/70-piechart/piechart-revenue.js"></script>


    <script src='../../js/libs/slick.min.js'></script>
    <link rel="stylesheet" href="../../css/libs/slick.css" media="all" />
    <script src="../../js/20-organisms/39-stories/story-slider.js"></script>

    <script src="../../js/20-organisms/40-thrive/people.js"></script>

    <!-- extra script to make offcanvas menu close when menu link clicked -->
    <script src='../../js/10-molecules/25-offcanvas-nav/offcanvas-nav.js'></script>

    <script src='../../js/animations.js'></script>

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{ patternLabHead | raw }}
    <!-- End Pattern Lab -->
    
  </head>
  <body class="{{ bodyClass }}">
  
